:root{--font-inter:"Inter", sans-serif;--color-background:#fff;--color-foreground:#131313;--color-primary:#fd4621;--color-card:#f6f6f6;--color-text-paragraf:#434343;--color-text-label-primary:silver;--color-text-label-secondary:#929090;--color-border:#ccc}
html{scroll-behavior:smooth;scroll-padding-top:64px}
